* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#header {
  padding: 20px 0;
  background: #fbedda;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.links a {
  font-size: 18px;
  color: #021112;
}
.links button {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 12px 20px;
  background: #13a6ba;
  border: none;
  border-radius: 8px;
}

.moblie-menu span {
  font-size: 30px;
}

.moblie-menu {
  display: none;
}

@media (max-width: 768px) {
  .moblie-menu {
    display: flex;
  }

  .links {
    display: none;
  }
}

#hero {
  background: #fbedda;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  max-width: 900px;
  padding-top: 100px;
}
.title p {
  font-size: 20px;
  color: #677071;
  text-align: center;
  padding-top: 30px;
}
.services {
  width: 100%;
  padding: 90px 0;
  background: white;
  margin-top: 100px;
  border-radius: 30px;
}
.hero-content img {
  width: 100%;
}

@media (max-width: 1024px) {
  .title h1 {
    font-size: 60px;
    padding-top: 65px;
  }

  .services {
    margin-top: 65px;
  }
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 50px;
    padding-top: 35px;
  }

  .services {
    margin-top: 35px;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 40px;
    padding-top: 25px;
  }

  .services {
    margin-top: 25px;
  }

  .title p {
    padding-top: 10px;
  }
}

#properties {
  padding: 30px 0;
}

.properties-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-head h1 {
  font-size: 58px;
  font-weight: 700;
}

.title-head p {
  font-size: 18px;
  color: #677071;
}

.box {
  max-width: 420px;
  width: 100%;
  border-radius: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 4px 55px 0px rgba(0, 0, 0, 0.11);
}

.box img {
  height: 250px;
}

.box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
  white-space: nowrap;
}

.box p {
  font-size: 18px;
  margin-top: 10px;
  color: #677071;
}

.box h1 {
  font-size: 58px;
  font-weight: 700;
  margin-top: 22px;
}

.service span {
  font-size: 18px;
  color: #677071;
  border-right: 1px solid #677071;
  padding: 0 10px;
}

.service-none {
  border-right: none !important;
}

.box button {
  padding: 26px;
  border: 2px solid #13a6ba;
  border-radius: 20px;
  background: white;
  font-size: 20px;
  color: #13a6ba;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.box:hover {
  box-shadow: 2px 4px 55px 0px rgba(0, 0, 0, 0.11);
}

.box button:hover {
  background: #13a6ba;
  color: white;
}

.blocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 50px;
}

@media (max-width: 1200px) {
  .blocks {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .properties-title {
    flex-direction: column;
    gap: 50px;
  }

  .title-head h1 {
    text-align: center;
    font-size: 40px;
  }
  .title-head p {
    text-align: center;
  }
  .box h2 {
    font-size: 20px;
  }

  .box h1 {
    font-size: 30px;
    white-space: normal;
  }
}
